.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba($color-black, 0.8);
  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__left {
    // width: 33.333%;
    // float: left;
    flex-basis: 33.3%;
  }
  &__right {
    // width: 66.666%;
    // float: left;
    flex-basis: 66.6%;
  }
  &__img {
    display: block;
    width: 100%;
  }
}
