*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

/* understanding how to use relative units (rem and em)  */

/* rem is relative to the root element font size;
em is relative to the parent element font size 
all relative units are converted to pixels during CSS parsing
*/

html {
  //This defines what one rem should be
  font-size: 62.5%; //===> 1 rem = 10px; 10px/16px = 62.5%;

  // @include respond(phone) {
  //   font-size: 50%;
  // }

  @include respond(tab-land) {
    //width < 1200?
    font-size: 56.25%; //1rem = 9px, 9/16 =50%
  }

  @include respond(tab-port) {
    //width <900?
    font-size: 50%; //1 rem =8px, 8/16 =50%
  }

  // @include respond(phone) {
  //   //width <600?
  //   font-size: 30%; //1 rem =4.8px, 12/16 =50%
  // }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
